{% extends "base.html" %}
{% block content %}
    <form method="get" action="{{ url_for('feed_fish_redirect') }}">
        <input type="submit" value="Feed the fish">
    </form>

    <div class="log-section">
        <h2>Previous Feedings</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Message</th>
            </tr>
            {% for feeding in log_items %}
            <tr>
                <td>{{feeding.date_display()}}</td>
                <td>{{feeding.time_display()}}</td>
                <td>{{feeding.message_display()}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}
